@model IEnumerable<ComputerShop.Data.Models.Repair>

@{
    ViewBag.Title = "Reparaties";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Toevoegen", "Create")
</p>

@foreach(var item in Model)
{
    @Html.Partial("_RepairSummary", item);
}